.body{
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

.content-section {
  box-sizing: border-box;
}

.header {
  display: grid;
  grid-template-columns: 1.8fr 1.7fr 1.1fr;
  align-items: center;
  padding: 92px 0px 95px 33px ;
  box-sizing: border-box;
}

.header__menu-list {
  display: flex;
  justify-content:center;
  align-items: center;
  letter-spacing: 0.01em;
  gap: 33px;
  font-family:"Raleway",sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #000000;
  list-style-type: circle;
}

.header__menu_active{
  list-style-type: none;
}

.header__menu-link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.header__logo-image {
  display: flex;/*тег а строчный,чтобы он реагировал на ширину,добавили это правило*/
  max-width: 140px;
  margin-left: 41px;
}

.contacts {
  display: flex;
  justify-self: start;
  flex-direction: column;
  align-items: start;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px; 
  letter-spacing: 0.01em;
  max-width: 240px;
}

.contacts-link-active {
  border-bottom: 1px solid;
  text-decoration: none;
}

.cover {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 757px;
  background-image: url( "../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
}

.cover-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  gap: 135px;
  padding: 165px 50px 51px 50px;
  box-sizing: border-box;
}

 .cover-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cover-title-part {
  font-family: Raleway, sans-serif;
  font-style: normal;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 0.3em;
}

.text-left{
  text-align: left; 
  line-height:115px;
}

.text-center {
  text-align: center;
  line-height: 100px;
}

.text-right {
  text-align: right;
  line-height: 100px;
}

.space-extended {
  margin-left: 0.6em;
}

.text-left .space-extended {
  position: relative;
  right: 29px;
}

.text-center .space-extended {
  position: relative;
  right: 30px;
}

.text-right .space-extended {
  position: relative;
  left: 30px;
}

.text-right .no-space-extended {
  position: relative;
  left: 60px;
}

.cover-subline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 28px;
}

.cover-subline-part {
  display: flex;
  justify-content: space-between;
  gap:24px;
  font-family: Raleway, sans-serif;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
}

.cover-buttum {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  height: 51px;
  width: 256px;
}

