.header {
  display: grid;
  grid-template-columns: 1.8fr 1.7fr 1.1fr;
  align-items: center;
  box-sizing: border-box;
  padding: 94px 50px 94px;
}

.header__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 31.4px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.01em;
}

.header__menu-item {
  list-style-type: circle;
}

.header__menu-item-active {
  list-style: none;
}

.header__menu-link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.header__menu-link-active {
  border-bottom: none;
  text-decoration: none;
}

.header__logo-image-black {
  display: flex;
  width: 148px;
  height: 105px;
  margin-left: 35px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 240px;
}

.contacts-address {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.5px;
  letter-spacing: 0.01em;
}

.contacts-link-active {
  border-bottom: 1px solid;
  font-style: normal;
  text-decoration: none;
}

.cover {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 757px;
  margin-bottom: 179px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
}

.cover-content {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 135px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 165px 50px 51px 50px;
}

.cover-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cover-title-part {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 100px;
  font-style: normal;
  letter-spacing: 0.3em;
}

.text-left {
  line-height: 115px;
  text-align: left;
}

.text-center {
  line-height: 100px;
  text-align: center;
}

.text-right {
  line-height: 100px;
  text-align: right;
}

.space-extended {
  margin-left: 0.6em;
}

.text-left .space-extended {
  position: relative;
  right: 29px;
}

.text-center .space-extended {
  position: relative;
  right: 30px;
}

.text-right .space-extended {
  position: relative;
  left: 30px;
}

.text-right .no-space-extended {
  position: relative;
  left: 60px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 28px;
}

.cover__description-text {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  box-sizing: border-box;
  width: 256px;
  height: 51px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1052px;
  margin: 0 auto;
  margin-bottom: 148px;
}

.lots__heading {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 27px;
  margin-left: 40px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
}

.lots-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.card-link {
  display: block;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  width: 334px;
  min-height: 563px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.content-card-lot {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  padding: 51px 40px 48px 40px;
}
.card__title {
  display: flex;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-align: left;
  text-decoration: underline #ffffff;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  display: flex;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.more {
  padding-left: 40px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  text-align: left;
}

.more-link {
  text-underline-offset: 4px;
}

.about {
  display: flex;
  align-items: flex-start;
  gap: 72px;
  margin-bottom: 181px;
}

.about__logo {
  position: relative;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 71px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  position: absolute;
  top: 64px;
  right: 0;
  left: 0;
  max-width: 148px;
  height: 114px;
  margin: 0 auto;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 693px;
  padding-top: 136px;
}

.about-title {
  margin-bottom: 98px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
}

.about__paragraph {
  margin-bottom: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
}

.about__paragraph-no-margin {
  margin-bottom: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  box-sizing: border-box;
  margin-bottom: 88px;
  padding-right: 50px;
  padding-left: 50px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  min-width: 149px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.01em;
  list-style: none;
}

.footer__menu-link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.footer__menu-link-active {
  border-bottom: none;
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48px;
  box-sizing: border-box;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  border: 1px;
}
